body {
  margin: 10;
  padding: 10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFDF00;
}


hr.vertical {
  margin:5px
  width: 2px;
  height: 55px;
}
/* doesn't work
*/
input[type="radio"]:checked + label {
  color: #0B4DB7;
}

select{font-size: 20px}

a {
  color: red;
  font-family: Didot;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #FAFAD2;
}

h1 {
    font-family: Didot;	
	color: #FFDF00;
    margin-top: 0;
    margin-bottom: 0;
}

/* this txt_box didn't work I think, not sure*/
.txt_box {
   -webkit-appearance: none; 
    vertical-align: middle; 
    width: 35px; 
    border: 2px outset; 
    height: 52px; 
    text-align: center; 
    font-size: 25px;
}
h2 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: #FFDF00;
}

h3 {
  font-family: Didot;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFDF00;
}

/*************************************** BUTTONS *************************************/
.button { 
-webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 5em;  
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  font: bold 18px Didot;
} 
.submit_btn1 {
 -webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 10em;  
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  font: bold 18px Didot;
}
.submit_btn2 {
 -webkit-appearance: none; /* without this, doesn't work right*/
  height: 2em; 
  width: 4em;  
  background: #778899;
  color: white;
  border-style: outset;
  border-color: #778899;
  font: bold 18px Didot;
}

.hold_drop_btn {
 -webkit-appearance: none; /* without this, doesn't work right*/
  height: 2em; 
  width: 3.7em;  
  background: #778899;
  color: white;
  border-style: outset;
  border-color: #778899;
  font: bold 18px Didot;
}

.deal_btn{
-webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 8em;  
  background: #006400;
  color: white;
  border-style: outset;
  border-color: #006400;
  font: bold 18px Didot;
}
.new_game_btn {
-webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 8em;  
  background: #A93226;
  color: white;
  border-style: outset;
  border-color: #A93226;
  font: bold 18px Didot;
}

.place_bet_btn {
-webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 7em;  
  background: #A93226;
  color: white;
  border-style: outset;
  border-color: #A93226;
  font: bold 18px Didot;
}

.claim_btn { 
-webkit-appearance: none; /* without this, doesn't work right*/
  height: 3em; 
  width: 5em;  
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  font: bold 18px Didot;
} 

/***************************** STUFF COPIED FROM FLASK TUTORIAL ****************************/

/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

/*
 * Centering the body content
 */
.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  gap: 15px 10px;
}

.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}