<html>
  <style>
	body{ background-image:url("/static/card_pics/table_top_7b.png");
		width: 100%;
	    height: 100%;
	    max-height: 100%;
		background-size: 100% 100%;;
		background-repeat: no-repeat;}
  </style>
  <head>
    <title>Five-card Stud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        // [Paul: trying this to fix constant disconnect error, from someone on stackexchange;
        // doesn't seem to help any]
        //    socket = io.connect(location.origin, {
        //        'timeout': 120000 // Increasing connection timeout.
        //    })
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                const url_params = new URLSearchParams(window.location.search);
                const player_name = url_params.get('player');
                socket.emit('my_event', {data: 'Client connected!', player: player_name});
            });
             
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~            
                     Event handlers for server sent data.
            The callback function is invoked whenever the server emits data
            to the client.
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
             socket.on('join_msg', function(msg, cb) {
                // this doesnt append, just inserts a new msg, overwriting any previous text
                //$('#log').text('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                // but this appends....
                $('#log').append('<br>' + $('<div/>').text(msg.count + ' ' + msg.data).html());               
                if (cb)
                    cb();
            });
            
            socket.on('connect_msg', function(msg, cb) {                
                // but this appends....
                $('#log').append('<br>' + $('<div/>').text(msg.data + 
                    ' player: ' + msg.player + ', sid: ' + msg.sid).html());               
                if (cb)
                    cb();
            });
            // function to clear the log of messages on new game
            socket.on('clear_log', function(msg, cb) {                
                $('#log').text($('<div/>').text('').html());
                if (cb)
                    cb();
            });
            // function to clear bet_log of messages on new game
            socket.on('clear_bet_log', function(msg, cb) {   
                $('#bet_log').text($('<div/>').text('').html());
            });
            
            // print to browser the latest bet
            socket.on('bet_msg', function(msg, cb) {
                var player = msg.player
                var amt = msg.amt
                if(msg.fold=="no"){
                    if(amt==0){
                        $('#bet_log').append('<br>' + $('<div/>').text(player + " checks").html());
                    } else {
                        $('#bet_log').append('<br>' + $('<div/>').text(player + " bets " + amt).html());
                    }
                } else {
                    $('#bet_log').append('<br>' + $('<div/>').text(player + " folds").html());
                }                               
            });
                     
            // global variable to keep track of amount in pot   
            pot_value = 0
            // print to browser the total pot
             socket.on('pot_msg', function(msg, cb) {
                $('#pot_total').text($('<div/>').text('$' + msg.amt).html());
                $('#call_amt').text($('<div/>').text('call: ' + '$' + msg.call).html()); 
                pot_value = msg.amt // global variable for use when user tries to click a link
                console.log('pot_value', pot_value)                

            });
            
            // print to browser the player's stash. This also loads a chip stash image,
            // the file depending on how large each player's stash is.
            socket.on('stash_msg', function(msg, cb) {
                const url_params = new URLSearchParams(window.location.search);
                const player_name = url_params.get('player');
                var stash_map = msg.stash_map
                var buy_in = msg.buy_in
                // This prints each player's exact stash amount that only he/she can see.
                if (player_name == 'player1') {
                    $('#player1_stash').text($('<div/>').text('$' + stash_map.player1).html());
                } else if (player_name == 'player2') {
                    $('#player2_stash').text($('<div/>').text('$' + stash_map.player2).html());
                } else if (player_name == 'player3') {
                    $('#player3_stash').text($('<div/>').text('$' + stash_map.player3).html());
                } else if (player_name == 'player4') {
                    $('#player4_stash').text($('<div/>').text('$' + stash_map.player4).html());
                } else if (player_name == 'player5') {
                    $('#player5_stash').text($('<div/>').text('$' + stash_map.player5).html());  
                }
                var players = Object.keys(stash_map)
                var chips_img0 = "static/card_pics/chips--6_stack_plus_2_small.png";
                var chips_img1 = "static/card_pics/chips--6_stack_small.png";
                var chips_img2 = "static/card_pics/chips--6_stack_minus_2_small.png" ;
                var chips_img3 = "static/card_pics/chips--6_stack_minus_4_small.png";
                var chips_img4 = "static/card_pics/chips--6_stack_minus_6_small.png";
                var chips_img5 = "static/card_pics/chips--6_stack_minus_7_small.png";
                var chips_img6 = "static/card_pics/chips--6_stack_minus_8_small.png";
                for (i=0; i<players.length; i++){
                    player = players[i]                  
                    switch(player){
                        case "player1":
                            switch(true){
                                case stash_map[player] > 1.4*buy_in:
                                    document.getElementById('player1_stash_img').src = chips_img0;
                                    break;
                                case stash_map[player] > 1.2*buy_in:                                    
                                    document.getElementById('player1_stash_img').src = chips_img1;
                                    break;
                                case stash_map[player] > buy_in:
                                    document.getElementById('player1_stash_img').src = chips_img2
                                    break;
                                case stash_map[player] > 0.8*buy_in:                                    
                                    document.getElementById('player1_stash_img').src = chips_img3
                                    break;
                                case stash_map[player] > 0.6*buy_in:
                                    document.getElementById('player1_stash_img').src = chips_img4
                                    break;
                                case stash_map[player] > 0.4*buy_in:
                                    document.getElementById('player1_stash_img').src = chips_img5
                                    break;
                                default:
                                    document.getElementById('player1_stash_img').src = chips_img6
                                    break;
                            }
                        case "player2":
                            switch(true){
                                case stash_map[player] > 1.4*buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img0;
                                    break;
                                case stash_map[player] > 1.2*buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img1;
                                    break;
                                case stash_map[player] > buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img2
                                    break;
                                case stash_map[player] > 0.8*buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img3
                                    break;
                                case stash_map[player] > 0.6*buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img4
                                    break;
                                case stash_map[player] > 0.4*buy_in:
                                    document.getElementById('player2_stash_img').src = chips_img5
                                    break;
                                default:
                                    document.getElementById('player2_stash_img').src = chips_img6
                                    break;
                            }
                        case "player3":
                            switch(true){
                                case stash_map[player] > 1.4*buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img0;
                                    break;
                                case stash_map[player] > 1.2*buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img1;
                                    break;
                                case stash_map[player] > buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img2
                                    break;
                                case stash_map[player] > 0.8*buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img3
                                    break;
                                case stash_map[player] > 0.6*buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img4
                                    break;
                                case stash_map[player] > 0.4*buy_in:
                                    document.getElementById('player3_stash_img').src = chips_img5
                                    break;
                                default:
                                    document.getElementById('player3_stash_img').src = chips_img6
                                    break;
                            }
                        case "player4":
                            switch(true){
                                case stash_map[player] > 1.4*buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img0;
                                    break;
                                case stash_map[player] > 1.2*buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img1;
                                    break;
                                case stash_map[player] > buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img2
                                    break;
                                case stash_map[player] > 0.8*buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img3
                                    break;
                                case stash_map[player] > 0.6*buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img4
                                    break;
                                case stash_map[player] > 0.4*buy_in:
                                    document.getElementById('player4_stash_img').src = chips_img5
                                    break;
                                default:
                                    document.getElementById('player4_stash_img').src = chips_img6
                                    break;
                            }
                        case "player5":
                            switch(true){
                                case stash_map[player] > 1.4*buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img0;
                                    break;
                                case stash_map[player] > 1.2*buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img1;
                                    break;
                                case stash_map[player] > buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img2
                                    break;
                                case stash_map[player] > 0.8*buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img3
                                    break;
                                case stash_map[player] > 0.6*buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img4
                                    break;
                                case stash_map[player] > 0.4*buy_in:
                                    document.getElementById('player5_stash_img').src = chips_img5
                                    break;
                                default:
                                    document.getElementById('player5_stash_img').src = chips_img6
                                    break;
                            }
                    }
                }        
            });
            
            // print to browser when somebody folds
            socket.on('who_folded', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text(msg.player ).html());               
            });            
                       
            // print to browser an error when someone tries to take more money out of 
            // the pot than they've put in on a given round.
            socket.on('hand_in_till', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text(msg.err).html());               
            });            
            
            // alert message if money still in the pot and user tries to start a new game
            socket.on('money_left_alert', function(msg, cb) {
                window.alert("There's a non-0 amount in the pot. Someone must claim it before a new game can be started.");
            });
            
            socket.on('get_cards', function(msg, cb) {
                players_cards = msg.cards
                players = Object.keys(players_cards)
                console.log('keys are', players)
                console.log("player1's cards", players_cards.player1)
                
                if("player1" in players_cards){
                    var player1_card1 = players_cards.player1[0];
                    var player1_card2 = players_cards.player1[1];
                    var player1_card3 = players_cards.player1[2];
                    var player1_card4 = players_cards.player1[3];
                    var player1_card5 = players_cards.player1[4];
                    
                    document.getElementById('player1_card1').src = player1_card1;
                    document.getElementById('player1_card2').src = player1_card2;
                    document.getElementById('player1_card3').src = player1_card3;
                    document.getElementById('player1_card4').src = player1_card4;
                    document.getElementById('player1_card5').src = player1_card5;
                }
                
                if("player2" in players_cards){
                    var player2_card1 = players_cards.player2[0];
                    var player2_card2 = players_cards.player2[1];
                    var player2_card3 = players_cards.player2[2];
                    var player2_card4 = players_cards.player2[3];
                    var player2_card5 = players_cards.player2[4];
                    
                    document.getElementById('player2_card1').src = player2_card1;
                    document.getElementById('player2_card2').src = player2_card2;
                    document.getElementById('player2_card3').src = player2_card3;
                    document.getElementById('player2_card4').src = player2_card4;
                    document.getElementById('player2_card5').src = player2_card5;
                }
                if("player3" in players_cards){
                    var player3_card1 = players_cards.player3[0];
                    var player3_card2 = players_cards.player3[1];
                    var player3_card3 = players_cards.player3[2];
                    var player3_card4 = players_cards.player3[3];
                    var player3_card5 = players_cards.player3[4];
                    
                    document.getElementById('player3_card1').src = player3_card1;
                    document.getElementById('player3_card2').src = player3_card2;
                    document.getElementById('player3_card3').src = player3_card3;
                    document.getElementById('player3_card4').src = player3_card4;
                    document.getElementById('player3_card5').src = player3_card5;
                }
                
                if("player4" in players_cards){
                    var player4_card1 = players_cards.player4[0];
                    var player4_card2 = players_cards.player4[1];
                    var player4_card3 = players_cards.player4[2];
                    var player4_card4 = players_cards.player4[3];
                    var player4_card5 = players_cards.player4[4];
                    
                    document.getElementById('player4_card1').src = player4_card1;
                    document.getElementById('player4_card2').src = player4_card2;
                    document.getElementById('player4_card3').src = player4_card3;
                    document.getElementById('player4_card4').src = player4_card4;
                    document.getElementById('player4_card5').src = player4_card5;
                }
                
                if("player5" in players_cards){
                    var player5_card1 = players_cards.player5[0];
                    var player5_card2 = players_cards.player5[1];
                    var player5_card3 = players_cards.player5[2];
                    var player5_card4 = players_cards.player5[3];
                    var player5_card5 = players_cards.player5[4];
                
                    document.getElementById('player5_card1').src = player5_card1;
                    document.getElementById('player5_card2').src = player5_card2;
                    document.getElementById('player5_card3').src = player5_card3;
                    document.getElementById('player5_card4').src = player5_card4;
                    document.getElementById('player5_card5').src = player5_card5;
                }
                // below is from Miguel Grinberg's original code; I don't know what it does
                if (cb)
                    cb();
            });
            
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~            
                     Handlers for the different forms in the page.
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
            
            // This doesn't work, as far as I can tell
            $('form#connect_btn').submit(function(event) {
                var url_params = new URLSearchParams(window.location.search);
                var player_name = url_params.get('player');
                socket.emit('my_event', {data: 'Client connected!', player: player_name});
                return false;            
            });
            
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            
            // betting form handler
            $('form#bet').submit(function(event) {
                socket.emit('bet_receive', {amt: $('#bet_entered').val()});
                // reset the bet field to 0
                document.getElementById('bet_entered').value = 0
                return false;
            });
            
            // Claim_pot form handler
            $('form#claim_pot').submit(function(event) {
            // just in case someone clicks the 'claim' button by accident                
                if (window.confirm("Confirm that you mean to claim the pot.")) { 
                    socket.emit('claim_pot');
                }              
                return false;
            });
        
            $('form#deal').submit(function(event) {
                socket.emit('deal'); 
                return false;
            });
            $('form#fold').submit(function(event) {
                socket.emit('fold'); 
                return false;
            });
             $('form#reveal').submit(function(event) {
                socket.emit('reveal'); 
                return false;
            });
            $('form#new_game').submit(function(event) {
                socket.emit('new_game'); 
                return false;
            });
            
            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured. [Paul: not sure if this helps to not
            // disconnect from the server]
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
            // bunch of code to get avg latency, and print in browers, which I 
            // don't want...            
            });
                    
        });
        // This is for the betting and clear buttons to enter the values
        // into the betting amount text box
        function writeNumbers(x) {
            var txt = document.getElementById("bet_entered");
            var bet_amt = parseInt(x, 10);
            if(txt.value==""){ txt.value = 0 + bet_amt}
            else {txt.value = parseInt(txt.value, 10) + bet_amt;}
        }
        function c() {
            var txt = document.getElementById("bet_entered");
            txt.value = 0;
        }
        
        // This function is for when the user tries to click a link to another game but
        // there is a non-zero amount in the pot. Without forcing someone to take the pot
        // before navigating away, the total money entropy for the evening changes (total 
        // player buy-in sum does not match the total amount in circulation, and money is 
        // basically "lost.")
         function check_pot(game) {
            if(pot_value != 0){
                window.alert("There's still money in the pot. Links won't work until it's claimed.");
            } 
            else if (game=='draw'){
                 window.location.href = "{{ url_for('redirect_to_draw') }}";
            } 
            else if (game=='fcs'){
                 window.location.href = "{{ url_for('redirect_to_five_card_stud') }}";
            } 
            //else if (game=='scs'){
            //     window.location.href = "";
            //} 
            else if (game=='spit'){
                 window.location.href = "{{ url_for('redirect_to_spit') }}";
            } 
            else if (game=='omaha'){
                 window.location.href = "{{ url_for('redirect_to_omaha') }}";
            //} 
            //else if (game=='monty'){
            //     window.location.href = "";
            } 
            else {
                window.alert("from check_pot() function: The game selected is not associated with any link.");
            }
        }
    </script>
  </head>
   <body>
     
    <!--#################################################################################-->
    <!--                                    DASHBOARD                                    -->
    <!--#################################################################################-->
     
     <fieldset>
      <div style="display:flex;  float:left; flex-direction: row; justify-content: left; align-items: center;">  
        <form style="margin-right:3px; margin-top: 14px;" id= "new_game" class="form" method="POST" action='#'>     
             <input  class = "new_game_btn" type="submit" name="btn" value="NEW GAME" >
        </form>
        <form style= "margin-right:20px; margin-top: 14px;" id="deal" class="form" method="POST" action='#'>
             <input  class = "deal_btn" type="submit" name="btn" value="D E A L" > 
        </form>
        <hr class="vertical" />
        <hr class="vertical" />
        <form style= "margin-left:20px; margin-right:3px; margin-top: 14px;" id= "fold" class = "form" method="POST" action='#'> 
             <input class="submit_btn1" type="submit" name="btn" value="FOLDY-DOLDY">
        </form>
        <form style= "margin-right:20px; margin-top: 14px;" id= "reveal" class = "form" method="POST" action='#'> 
	         <input class="submit_btn1" type="submit" name="btn" value="REVEAL">
        </form>            
        
        <hr class="vertical" />
        <hr class="vertical" />
        <input style= "margin-left:20px;" type="image" src="static/card_pics/white_chip_small.png" width=55 height=55 name="bet_1" id="bet_1" onclick="writeNumbers(1);"/>
        <input style= "margin-left:3px;" type="image" src="static/card_pics/red_chip_small.png" width=55 height=55  name="bet_2" id="bet_2" onclick="writeNumbers(2);"/>
        <input style= "margin-left:3px;" type="image" src="static/card_pics/blue_chip_small.png" width=55 height=55  name="bet_5" id="bet_5" onclick="writeNumbers(5);"/>
   	     		  
   		<form style="margin-top: 14px; margin-left:20px; margin-right:20px;" id="bet" method="POST" action='#'>
            <input id="bet_entered" type="text" name="bet_entered" style="vertical-align:middle; width: 35px; border: 2px outset; height: 52px; text-align:center; font-size:25px;" value=0>
            <button style="margin-left:2px; margin-right:10px" id="clr_bet" class="button" type="button" onclick=c()>clear</button>
            <input syle= "margin-left:10px;" type="submit" class = "place_bet_btn" value="Place Bet">
        </form>        
    <!-------------------    GAME LINKS   -------------------->
	    <hr class="vertical" />
        <hr class="vertical" />
	    &nbsp&nbsp&nbsp&nbsp<a href="{{ url_for('redirect_to_draw') }}" onclick="check_pot('draw'); return false;" style="color:red; font-size:20px;">Draw</a>
	    &nbsp&nbsp<a href="{{ url_for('redirect_to_omaha') }}" onclick="check_pot('omaha'); return false;" style="color:red; font-size:20px;">Omaha</a> 
    	&nbsp&nbsp<a href="{{ url_for('redirect_to_five_card_stud') }}" onclick="check_pot('fcs'); return false;" style="color:red; font-size:20px;">5-Card Stud</a> 
    	&nbsp&nbsp<a href="{{ url_for('redirect_to_spit') }}" onclick="check_pot('spit'); return false;" style="color:red; font-size:20px;">Spit</a> 
      </div>
     </fieldset>
	 <h1 style="color:#FFDF00;">~ Five Card Stud ~</h1>
	 
    <!--#################################################################################-->
    <!--                                The Poker Table                                  -->
    <!--#################################################################################-->
    
    <br>	
	  <table width="500px"  height="50%">
        <tr>
          <td></td><td></td><td></td>
          <td></td>
          <th valign=middle colspan = "2">              
              <h3 style="color:#FFDF00; margin-top: 0; margin-bottom: 0;">{{names["player1"]}}</h3>
              <h1><div id="player1_stash"></div></h1>
              <img src="" id="player1_stash_img" width=80 height=80>
          </th>
          <td valign=top><img src="" id="player1_card1" width=80 height=122></td>
		  <td valign=top><img src="" id="player1_card2" width=80 height=122></td>
		  <td valign=top><img src="" id="player1_card3" width=80 height=122></td>
		  <td valign=top><img src="" id="player1_card4" width=80 height=122></td>
		  <td valign=top><img src="" id="player1_card5" width=80 height=122></td>
          <td></td><td></td><td></td><td></td>
          <td></td><td></td>
        </tr>
        <tr>
          <th valign=bottom colspan = "2">              
              <h3 style="color:#FFDF00; margin-top: 0; margin-bottom: 0;">{{names["player5"]}}</h3>
              <h1><div id="player5_stash"></div></h1>
              <img src="" id="player5_stash_img" width=80 height=80>
          </th>
          <th colspan = "3" valign=top>
    		  <div style="color:#F0FFFF;" id="log"></div>
		  </th>
          <td></td><td></td> 
    <!--####################################################################-->
    <!--                                 BETTING                            -->
    <!--####################################################################-->
		  <th valign=top>
		  </th>
		  <th valign=top>
		     <br> 
             <h1><div id="pot_total"></div></h1>
             <br> 
             <div id="call_amt"></div>
             <br>
             <form style='float: left; padding: 5px;' id= "claim_pot" class="form" method="POST" action='#'>     
                     <input  class = "claim_btn" type="submit" name="claim_pot" value="CLAIM" >
             </form> 
		  </th>
		  <th colspan = "2" valign=top>
        		  <br>
        		  <div style="color:#F0FFFF;" id="bet_log"></div>
		  </th>
    <!--####################################################################-->
    <!--                                                                    -->
    <!--####################################################################-->    
          <td></td><td></td><td></td>
          <td></td>
          <th valign=bottom colspan = "2">              
              <h3 style="color:#FFDF00; margin-top: 0; margin-bottom: 0;">{{names["player2"]}}</h3>
              <h1><div id="player2_stash"></div></h1>
              <img src="" id="player2_stash_img" width=80 height=80>
          </th>
         </tr>
         <tr>
          <td><img src="" id="player5_card1" width=80 height=122></td>
		  <td><img src="" id="player5_card2" width=80 height=122></td>
		  <td><img src="" id="player5_card3" width=80 height=122></td>
		  <td><img src="" id="player5_card4" width=80 height=122></td>
		  <td><img src="" id="player5_card5" width=80 height=122></td>
		  <td></td><td></td><td></td><td></td>
          <td></td><td></td><td></td>		  
          <td><img src="" id="player2_card1" width=80 height=122></td>
		  <td><img src="" id="player2_card2" width=80 height=122></td>
		  <td><img src="" id="player2_card3" width=80 height=122></td>
		  <td><img src="" id="player2_card4" width=80 height=122></td>
		  <td><img src="" id="player2_card5" width=80 height=122></td>
        </tr>
        <tr>
          <td></td><td></td>
          <th valign=bottom colspan = "2">
              <br><br>              
              <h3 style="color:#FFDF00; margin-top: 0; margin-bottom: 0;">{{names["player4"]}}</h3> 
              <h1><div id="player4_stash"></div></h1>
              <img src="" id="player4_stash_img" width=80 height=80>
          </th>          
          <td></td><td></td><td></td><td></td>
          <td></td><td></td><td></td><td></td>
          <td></td>
          <th valign=bottom align="right" colspan = "2">
              <br><br>
              <h3 style="color:#FFDF00; margin-top: 0; margin-bottom: 0;">{{names["player3"]}}</h3>  
              <h1><div id="player3_stash"></div></h1>  
              <img src="" id="player3_stash_img" width=80 height=80>           
          </th>
          <td></td><td></td>
        </tr>
        <tr>
          <td></td><td></td><td></td>          
          <td><img src="" id="player4_card1" width=80 height=122></td>
		  <td><img src="" id="player4_card2" width=80 height=122></td>
		  <td><img src="" id="player4_card3" width=80 height=122></td>
		  <td><img src="" id="player4_card4" width=80 height=122></td>
		  <td><img src="" id="player4_card5" width=80 height=122></td>
		  <td></td>
		  <td><img src="" id="player3_card1" width=80 height=122></td>
		  <td><img src="" id="player3_card2" width=80 height=122></td>
		  <td><img src="" id="player3_card3" width=80 height=122></td>
		  <td><img src="" id="player3_card4" width=80 height=122></td>
		  <td><img src="" id="player3_card5" width=80 height=122></td>
          <td></td><td></td><td></td>
        </tr>
	  </table> 
   </body>
</html>