<!DOCTYPE html>
<html>
    <style>
    	body{ background-image:url("/static/card_pics/table_top_3.jpg");
		width: 100%;
	    height: 100%;
	    max-height: 100%;
		background-size:cover;
		background-repeat: no-repeat;}
    </style>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
<OL>
<LI><FONT face="Academy Engraved LET">academy engraved let</FONT>
<LI><FONT face="algerian">algerian</FONT>
<LI><FONT face="Amaze">amaze</FONT>
<LI><FONT face="arial">arial</FONT>
<LI><FONT face="arial black">arial black</FONT>
<LI><FONT face="Balthazar">balthazar</FONT>
<LI><FONT face="BankGothic Lt BT">bankgothic lt bt</FONT>
<LI><FONT face="bart">bart</FONT>
<LI><FONT face="Bimini">bimini</FONT>
<LI><FONT face="comic sans ms">comic sans ms</FONT>
<LI><FONT face="book antiqua">book antiqua</FONT>
<LI><FONT face="bookman old style">bookman old style</FONT>
<LI><FONT face="braggadocio">braggadocio</FONT>
<LI><FONT face="britannic bold">britannic bold</FONT>
<LI><FONT face="brush script mt">brush script mt</FONT>
<LI><FONT face="century gothic">century gothic</FONT>
<LI><FONT face="century schoolbook">century schoolbook</FONT>
<LI><FONT face="Chasm">chasm</FONT>
<LI><FONT face="chicago">chicago</FONT>
<LI><FONT face="colonna mt">colonna mt</FONT>
<LI><FONT face="comic sans ms">comic sans ms</FONT>
<LI><FONT face="CommercialScript BT">commercialscript bt</FONT>
<LI><FONT face="Coolsville">coolsville</FONT> 
<LI><FONT face="courier">courier</FONT>
<LI><FONT face="courier new">courier new</FONT>
<LI><FONT face="cursive">cursive</FONT>
<LI><FONT face="Dayton">dayton</FONT>
<LI><FONT face="desdemona">desdemona</FONT>
<LI><FONT face="fantasy">fantasy</FONT>
<LI><FONT face="Flat Brush">flat brush</FONT> 
<LI><FONT face="footlight mt light">footlight mt light</FONT> 
<LI><FONT face="Futurablack BT">futurablack bt</FONT>
<LI><FONT face="Futuralight BT">futuralight bt</FONT>
<LI><FONT face="garamond">garamond</FONT>
<LI><FONT face="gaze">gaze</FONT>
<LI><FONT face="geneva">geneva</FONT>
<LI><FONT face="georgia">georgia</FONT>
<LI><FONT face="Geotype TT">geotype tt</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Geotype TT)</FONT>
<LI><FONT face="helterskelter">helterskelter</FONT>
<LI><FONT face="helvetica">helvetica</FONT>
<LI><FONT face="herman">herman</FONT>
<LI><FONT face="Highlight LET">highlight let</FONT>
<LI><FONT face="impact">impact</FONT>
<LI><FONT face="Jester">jester</FONT>
<LI><FONT face="Joan">joan</FONT>
<LI><FONT face="John Handy LET">john handy let</FONT>
<LI><FONT face="Jokerman LET">jokerman let</FONT>
<LI><FONT face="Kelt">kelt</FONT>
<LI><FONT face="Kids">kids</FONT>
<LI><FONT face="kino mt">kino mt</FONT>
<LI><FONT face="La Bamba LET">la bamba let</FONT>
<LI><FONT face="Lithograph">lithograph</FONT>
<LI><FONT face="Lucida Console">lucida console</FONT>
<LI><FONT face="map symbols">map symbols</FONT>
<LI><FONT face="Marlett">marlett</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Marlett)</FONT>
<LI><FONT face="matteroffact">matteroffact</FONT>
<LI><FONT face="Matisse ITC">matisse itc</FONT> 
<LI><FONT face="matura mt script capitals">matura mt script capitals</FONT>
<LI><FONT size="5" face="Mekanik LET">mekanik let</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: mekanik let)</FONT>
<LI><FONT face="monaco">monaco</FONT> 
<LI><FONT face="monospace">monospace</FONT>
<LI><FONT face="monotype sorts">monotype sorts</FONT>
<LI><FONT face="ms line draw">ms linedraw</FONT>
<LI><FONT face="new york">new york</FONT>
<LI><FONT face="OldDreadfulNo7 BT">olddreadfulno7 bt</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: OldDreadfulNo7 BT)</FONT>
<LI><FONT face="orange LET">orange let</FONT>
<LI><FONT face="palatino">palatino</FONT> 
<LI><FONT face="playbill">playbill</FONT>
<LI><FONT face="Pump Demi Bold LET">pump demi bold let</FONT>
<LI><FONT face="puppylike">puppylike</FONT>
<LI><FONT face="Roland">roland</FONT>
<LI><FONT face="sans-serif">sans-serif</FONT>
<LI><FONT face="ScriptS">scripts</FONT>
<LI><FONT face="Scruff LET">scruff let</FONT>
<LI><FONT face="Serif">serif</FONT>
<LI><FONT face="Short Hand">short hand</FONT>
<LI><FONT face="Signs Normal">signs normal</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Signs Normal)</FONT>
<LI><FONT face="simplex">simplex</FONT>
<LI><FONT face="simpson">simpson</FONT>
<LI><FONT face="Stylus BT">stylus bt</FONT>
<LI><FONT face="SuperFrench">superfrench</FONT>
<LI><FONT face="Surfer">surfer</FONT>
<LI><FONT face="Swis721 BT">swis721 bt</FONT>
<LI><FONT face="Swis721 BlkOul BT">swis721 blkoul bt</FONT>
<LI><FONT face="Symap">symap</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Symap)</FONT>
<LI><FONT face="symbol">symbol</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: symbol)</FONT>
<LI><FONT face="tahoma">tahoma</FONT>
<LI><FONT face="Technic">technic</FONT>
<LI><FONT face="Tempus Sans ITC">tempus sans itc</FONT>
<LI><FONT face="Terk">terk</FONT> 
<LI><FONT face="times">times</FONT>
<LI><FONT face="times new roman">times new roman</FONT>
<LI><FONT face="trebuchet MS">trebuchet ms</FONT>
<LI><FONT face="TRENDY">trendy</FONT>
<LI><FONT face="Txt">txt</FONT>
<LI><FONT face="verdana">verdana</FONT>
<LI><FONT face="Victorian LET">victorian let</FONT>
<LI><FONT face="Vineta BT">vineta bt</FONT>
<LI><FONT face="Vivian">vivian</FONT>
<LI><FONT face="webdings">webdings</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Webdings)</FONT>
<LI><FONT face="wingdings">wingdings</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Wingdings)</FONT>
<LI><FONT face="Western">western</FONT> 
<LI><FONT face="Westminster">westminster</FONT>
<LI><FONT face="Westwood LET">westwood let</FONT>
<LI><FONT color="#FF0000" face="arial">(*above: Westwood LET)</FONT>
<LI><FONT face="wide latin">wide latin</FONT>
<LI><FONT face="ZapfEllipt bt">zapfellipt bt</FONT>
</OL> 
    </body>
</html>