<!doctype html>
<html lang="en">
<script>
//document.addEventListener('DOMContentLoaded', function() {
makeRadioButton = function(){
  var button1 = document.createElement('input');
  //button1.type = "radio";
  //button1.id="card1Hld" 
  button1.setAttribute("type", "radio");
  button1.setAttribute("name", "card1Hld" + 1);
  button1.setAttribute("value", "N");
  button1.setAttribute("id","card1Hld" + 1);
  
  var button2 = document.createElement('input')
  button2.setAttribute("type", "radio");
  button2.setAttribute("name", "card1Hld" + 2);
  button2.setAttribute("value", "N");
  button2.setAttribute("id","card1Hld" + 2);


//  var button2 = document.createElement('input');
//  button2.type = "radio";
//  button2.id="card2Hld" 
  button1.onclick = function() {
    // ...
  };

   
  var container = document.getElementById('container');
  container.appendChild(button1);
  container.appendChild(button2);
//  container.appendChild(button2);
}


</script>
<body onload="makeRadioButton()">
  <div id="container"></div>
</body>
</html>
